<div class="container-content">
  <div class="container-note" (click)="removeSelection()">
    <div><input type="text" placeholder="Заглавие на бележка" (input)="processNoteTitle($event)"
        [(ngModel)]="modelTitle" value="{{tempNoteTitle}}"></div>
    <div><textarea placeholder="Съдържание на бележка" (input)="processNoteText($event)" [(ngModel)]="modelText"
        value="{{tempNoteText}}"></textarea></div>
    <button (click)="saveNote()">Запази бележка</button>
  </div>
  <div class="side-container">
    <ul>
      <li *ngFor="let element of notes | keyvalue">
        <div class="note" (click)="selectNotes(element)"><b>{{element.key}}</b>
          <hr><br /><i>{{element.value}}</i>
        </div>
      </li>
    </ul>
    <div class="hidden" *ngIf="buttonsVisible">
      <button (click)="deleteNote()">Изтрий</button>
      <button (click)="selectNote()">Редакция</button>
    </div>

  </div>
</div>