.container-content {
    display: flex;
}

.container-note {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
}

.side-container {
    display: inline-block;
    flex: 1;
    width: 160px;
    height: auto;
    align-items: center;
    justify-content: center;
}

input {
    width: 400px;
    height: 30px;
    float: left;
}

textarea {
    height: 520px;
    width: 401px;
    float: left;
}

button {
    float: left;
    height: 30px;
    margin-top: 10px;
}

.note {
    border: solid 1px black;
    width: 150px;
    height: 90px;
}

.note:hover {
    border: solid red;
}

.note:active {
    border: solid blue;
}

ul {
    list-style: none;
    width: 150px;
}

li {
    margin-bottom: 5px;
}

.hidden button {
    margin-left: 10px;
}

.hidden button:first-child {
    margin-left: 49px;
}